i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

.card {
    min-height: 200px;
}

.index-body   {
  background-image: url("https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
  