<% include ./partials/header %>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h1 class="jumbotron-heading">Hi, I'm Emmran</h1>
                        <p class="lead text-muted">
                            Hi, I'm Emmran and I'm a Cpmputer Scince Student  at hadassah academic college
                            with a passion for information technology, software development .
                            Some examples of work I've done can be seen below!
                           
                        </p>
                        <p>
                            <a href="mailto:imranbarhoum@gmail" class="btn btn-primary my-2">Email Me</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="https://scontent.fhfa3-1.fna.fbcdn.net/v/t1.0-9/53673342_417573332136153_8285378946371944448_n.jpg?_nc_cat=100&_nc_oc=AQkJat5Zyn13OP0P0VKmwQYrq-IAcZip1cTe2pChIxU4W2qAmCquMqXpHb-YXBqm_dI&_nc_ht=scontent.fhfa3-1.fna&oh=d00365ed44e188b25e32f2cc120e2821&oe=5E2AF799" height="300px"/>
                    </div>
                </div>
            </div>
        </section>
		                       <div class="py-5 bg-dark">
            <div class="container">
                <div class="row" style="display:flex; flex-wrap: wrap;">
                    
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="/media/images/color_game_graphic.PNG" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">RGB Color Guessing Game</h5>
                                    <p class="card-text">Simple color guessing game created using HTML/CSS/JavaScript</p>
                                    <div class="btn-group-right">
                                        <a href="/4/">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View Details
                                        </button>
                                        </a>
                                        
                                            <a href="https://github.com/ianFraser858/Color-Game" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Link to Project</button>
                                            </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="/media/images/yelpcamp1.PNG" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">YelpCamp</h5>
                                    <p class="card-text">Fully functional website designed using MongoDB, Express, and NodeJs.</p>
                                    <div class="btn-group-right">
                                        <a href="/5/">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View Details
                                        </button>
                                        </a>
                                        
                                            <a href="https://github.com/ianFraser858/YelpCamp" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Link to Project</button>
                                            </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                </div>
            </div>
        </div>
    </main>
<% include ./partials/footer %>